{% extends "base.html" %}
{% block title %}Pricing{% endblock title %}
{% block hero %}
{% endblock hero %}
{% block content %}
<div></div>
<div></div>
<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
  <div class="container">

    <div class="section-title" data-aos="zoom-out">
      <h2>Precios</h2>
      <p>Nuestros precios</p>
    </div>

    <div class="row align-items-center justify-content-center">

      <div class="col-lg-3 col-md-2 mt-4 mt-md-0">
        <div class="box featured" data-aos="zoom-in" data-aos-delay="100">
          <h3>1 Tickets</h3>
          <h4><sup>$</sup>19<span> / month</span></h4>
          <ul>
            <li>Valido para</li>
            <li>cualquier transporte publico</li>
          </ul>
          <div class="btn-wrap">
            <a href="{% url 'home:Ticket' %}" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-2 mt-4 mt-md-0">
        <div class="box featured" data-aos="zoom-in" data-aos-delay="100">
          <h3>5 Tickets</h3>
          <h4><sup>$</sup>80<span> / month</span></h4>
          <ul>
            <li>Valido para</li>
            <li>cualquier transporte publico</li>
          </ul>
          <div class="btn-wrap">
            <a href="{% url 'home:Ticket' %}" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section><!-- End Pricing Section -->
{% endblock content %}
