{% extends "base.html" %}
{% block title %}Pricing{% endblock title %}
{% block hero %}
{% endblock hero %}
{% block content %}
<div></div>
<div></div>
<section id="ticket" class="ticket">
    <div class="container">
        <div class="row align-items-center vh-100 justify-content-center">
            <div class="col-lg-3 col-md-2 mt-4 mt-md-0">
            <div class="box featured" data-aos="zoom-in" data-aos-delay="100">
              <h3>1 Tickets</h3>
              <h4>Ticket de prueba</h4>
                <div>
                <img src="staticfiles/261715764_1049591259169235_2835599536860765936_n.png">
                </div>
            </div>
            </div>
          </div>
        </div>
    </div>
</section>
{% endblock content %}