{% extends "base.html" %}
{% block title %}Pricing{% endblock title %}
{% block hero %}
{% endblock hero %}
{% block content %}
<div></div>
<div></div>
<section id="ticket" class="ticket">
    <div class="container">
        <div class="col-lg-3 col-md-2 mt-4 mt-md-0">
        <div class="box featured" data-aos="zoom-in" data-aos-delay="100">
          <h3>1 Tickets</h3>
          <h4><sup>$</sup>19<span> / month</span></h4>
          <ul>
            <li>Valido para</li>
            <li>cualquier transporte publico</li>
          </ul>
        </div>
      </div>
        </div>
    </div>
</section>
{% endblock content %}