{% extends "base.html" %}
{% block title %}Ticket{% endblock title %}
{% block hero %}
{% endblock hero %}
{% block content %}
<div></div>
<div></div>
<section id="ticket" class="ticket">
    <div class="container">
    <div class="row align-items-center vh-100 justify-content-center">
        <div class="col-lg-3 col-md-2 mt-4 mt-md-0">
          <img
            src="https://cdn.discordapp.com/attachments/918342357605302305/918342440316981278/261715764_1049591259169235_2835599536860765936_n.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Ticket de prueba 0001</h5>
            <p class="card-text"></p>
          </div>
        </div>
        </div>
    </div>
    </div>
</section>
{% endblock content %}